
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./img3.jpg");
    background-position: center center;
    background-size: cover;
    
   }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
   width: 500px;
    
  }
  
  .result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: left;
  }

  .btn{
    background-color: #00d4e7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

  }
  